.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 20px 0 20px 0;
}
.new_card_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  color: #fff;
  background: #003cb4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
