.announceview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  height: auto;
  border-style: solid;
  border-width: 10px;
  border-color: navy;
}
.announceview-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  width: auto;
  margin-top: 0px;
  justify-content: center;
}
.announceview-image {
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid navy;
  border-color: navy;
}
.announceview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: auto;
  margin-top: 15px;
  justify-content: center;
}
.announceview-title {
  color: navy;
  font-size: 32px;
  font-weight: 700;
  user-select: none;
  margin: 10px 10px 10px 10px;
}

.announceview-description {
  color: navy;
  font-size: 24px;
  font-weight: 700;
  width: auto;
}
.announceview-price {
  color: navy;
  font-size: 42px;
  font-weight: 700;
  width: auto;
}
.rating-number {
  color: #faaf00;
  font-size: 32px;
  font-weight: 700;
  width: auto;
}
.announceview-ratings {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.announceview-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  color: #fff;
  background: rgb(0, 60, 180);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
.announceview-buttons {
  display: flex;
  flex-direction: row;
  gap: 9px;
  width: auto;
  margin-top: 10px;
  justify-content: center;
}
